beautifulsoup4-4.6.0.dist-info
bin
bs4
certifi
certifi-2018.4.16.dist-info
chardet
chardet-3.0.4.dist-info
idna
idna-2.7.dist-info
nltk
nltk-3.3.dist-info
oauthlib
oauthlib-2.1.0.dist-info
requests
requests-2.19.1.dist-info
requests_oauthlib
requests_oauthlib-1.0.0.dist-info
six-1.11.0.dist-info
thesaurus
thesaurus-0.2.2.dist-info
TwitterAPI
TwitterAPI-2.5.4.dist-info
urllib3
urllib3-1.23.dist-info
